*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Gothom Rounded, sans-serif;
}
body {
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
.heading {
  font-family: "Dancing Script", cursive;
  margin-right: 5%;
  letter-spacing: 1px;
}
@media only screen and (max-width: 700px) {
  .heading {
    position: absolute;
    top: 50px;
  }
}
.clock {
  height: 300px;
  width: 300px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: relative;
  border: 5px solid black;
  box-shadow: 10px;
}
.clock .number {
  /* --rotation is a variable */
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
  text-align: center;
  transform: rotate(var(--rotation));
}
/* rotating each number according to there degrees */
.clock .number1 {
  transform: rotate(30deg);
}
.clock .number2 {
  --rotation: 60deg;
}
.clock .number3 {
  --rotation: 90deg;
}
.clock .number4 {
  --rotation: 120deg;
}
.clock .number5 {
  --rotation: 150deg;
}
.clock .number6 {
  --rotation: 180deg;
}
.clock .number7 {
  --rotation: 210deg;
}
.clock .number8 {
  --rotation: 240deg;
}
.clock .number9 {
  --rotation: 270deg;
}
.clock .number10 {
  --rotation: 300deg;
}
.clock .number11 {
  --rotation: 330deg;
}
/* for black dot in middle of the clock */
/* pseudo code to generate new element */
.clock::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  top: 50%;
  right: 50%;
  background-color: black;
  transform: translate(50%, -50%);
  z-index: 11;
  border-radius: 50%;
}
/* making hands of the clock */
.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform-origin: bottom; /*to rotate only from bottom which is center*/
  transform: translateX(50%) rotate(calc(var(--rotation) * 1deg));
  background-color: black;
  /* border of hands */

  /* border: 2px solid lightblue; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  /* to make the hands to be always on top of hands */
  z-index: 10;
}
.clock .hand.second {
  width: 3px;
  height: 42%;
  background-color: red;
}
.clock .hand.minute {
  /* --rotation: 120; */
  width: 7px;
  height: 38%;
  background-color: black;
}
.clock .hand.hour {
  /* --rotation: 30; */
  width: 10px;
  height: 32%;
  background-color: black;
}
